<h2>
	Autores
</h2>

<table class="table table-striped">
	<tr>
		<th>Nombre del autor</th>
		<th>Acciones</th>
	</tr>	
	<% @authors.each do |author| %>
	<tr>
		<td><%= author.first_name + ' ' + author.last_name %></td>
		<td><%= link_to 'Editar', edit_author_path(author.id)%> | <%= link_to 'Borrar', author_path(author), method: :delete, data: {confirm: 'Seguro que deseas borrar la categoria: ' + author.first_name }%></td>
	</tr>
	<%end%>
</table>
