<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis facilisis tincidunt. Proin convallis ex eget augue molestie venenatis. Donec sit amet pellentesque tortor. Aenean ut neque venenatis, malesuada lectus ac, congue ante. Vestibulum condimentum felis risus, ut porta lorem varius sed. Quisque fringilla ipsum nulla, in euismod mi aliquet quis. Vestibulum sit amet posuere ipsum.</p>


